{% extends 'base.html' %}

{% block title %}Calificar Receta - Mi Aplicación de Recetas{% endblock %}

{% block content %}
<h2>Calificar Receta</h2>
<form method="POST" action="{{ url_for('calificar', receta_id=receta._id) }}">
    <div class="estrellas">
        <span onclick="document.getElementById('puntuacion').value = 1">★</span>
        <span onclick="document.getElementById('puntuacion').value = 2">★</span>
        <span onclick="document.getElementById('puntuacion').value = 3">★</span>
        <span onclick="document.getElementById('puntuacion').value = 4">★</span>
        <span onclick="document.getElementById('puntuacion').value = 5">★</span>
    </div>
    <input type="hidden" name="puntuacion" id="puntuacion" required>
    <button type="submit">Calificar</button>
</form>
{% endblock %}